.programs_wrapper{
    display: flex;
    gap:2rem;
    flex-direction: column;
}
.programs_title{
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    display: flex;
    gap: 5rem;
    justify-content: center;
}
.programs_body{
    display: flex;
    justify-content:center;
    gap: 1rem;
    padding: 32px;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #808080;
    gap: 1rem;
    width:16rem;
    padding: 50px;
    
}
.card:hover{
    background-image: var(--planCard);
    transform: scale(1.1);
}
.card_head{
    color:white;
    font-weight: bold;
}
.card_body{
    color: white;
    font-size: 0.9rem;
    font-family: Inter,sans-serif;
    line-height: 25px;
}
.butons{
    display:flex;
    justify-content: baseline;
    gap: 1rem;
}
.butons>img{
    cursor:pointer;
}
.but{
    color:white;
    font-family: Inter,sans-serif;
    border:none;
    background-color: initial;
    font-size: 16px;
    cursor:pointer;
}
@media screen and (max-width:768px) {
    .programs_title{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        font-size: x-large;
        margin-top: 2rem;
    }
    .stroke{
        font-size: 2rem;
    }
    .programs_body{
        flex-direction: column;

    }
    .card{
        width: 12rem;
    }
    
}
